*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
.nyc_output
coverage
lib-cov
xunit.xml

.npmrc
node_modules
npm-debug.log

.project
.idea
.settings
.iml

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

tmp
private
